.TextInput {
    margin: 2rem 0.5rem;
    outline: 0 none;
    background: transparent;
    border: none;
    border-bottom: 3px solid;
    border-color: var(--font-color);
    padding: 0.25rem 0;
    font-size: 1.3rem;
}

.TextInput:focus {
    border-color: var(--active-color);
}