.welcome-card {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background: var(--font-clr);
    color: var(--bg-clr);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-size: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-sign {
    margin-top: -10vh;
    text-align: center;
}

#welcome-sign .welcome {
    color: var(--accent-clr-1);
    font-weight: 900;
}