.Game {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.Game .task-screen {
    color: #fff;
    text-align: center;
    position: relative;
    top: 35%;
    transform: translate(0, -50%);
}

.Game .task-screen span {
    margin: 0;
    font-size: 7rem;
}

.Game .task-screen p {
    margin: 0;
    margin-top: -1rem;
    font-size: 1.5rem;
}

.Game .input {
    height: 40px;
    width: 100%;
    position: absolute;
    max-width: 500px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
}

.Game .input input {
    height: 100%;
    width: calc(100% - 15px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    outline: none;
    background: #fff;
    padding: 0 3rem 0 0.5rem;
    color: var(--color-1);
    font-size: 1.2rem;
    box-shadow: var(--shadow-1);
}

.Game .input button {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-color: var(--color-1);
    background-image: url(./Assets/arrow.svg);
    background-size: 50% 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 50%;
    transition: all 0.25s ease-out;
}

.Game .input button:hover {
    background-color: #222;
}

