html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0.5rem;
    background: darkslategray;
}

*::before, *::after {
    box-sizing: border-box;
}

.tasks {
    max-width: 500px;
    margin: 0 auto;
    background: rgba(50, 50, 50, 0.5);
    padding: 0.75rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25)
}

.res {
    background: goldenrod;
    font-size: 1.125rem;
    padding: 0.75rem 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.res:last-of-type {
    margin-bottom: 0;
}