.WeatherPanel {
    font-size: 1.1rem;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-size: 100%;
    position: 50% 50%;
}

.WeatherPanel p {
    margin: 0.25em 0;
}

.WeatherPanel .name {
    font-size: 1.25em;
    font-family: var(--secondary-font);
}

.WeatherPanel img {
    width: 100%;
    max-width: 50px;
}

.WeatherPanel.active {
    padding: 1em;
    padding-bottom: 0.5em;
}