.WeatherPanel {
    font-size: 1rem;
    background: var(--secondary-color);
    color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

.WeatherPanel p {
    margin: 0.25rem 0;
}

.WeatherPanel .name {
    font-size: 1.2em;
    font-family: var(--secondary-font);
}

.WeatherPanel img {
    width: 100%;
    max-width: 50px;
}

.WeatherPanel.active {
    padding: 1em;
    padding-bottom: 0.5em;
}