html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 1rem;
}

*::before, *::after, * {
    box-sizing: border-box;
}

body > * {
    max-width: 750px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

body > .inputs {
    display: flex;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

body > .inputs > * {
    padding: 0.325rem 1rem;
    border: none;
}

body > .inputs input {
    flex-grow: 1;
}

body > .inputs button {
    background: #ccc;
    font-size: 1.1em;
}

body > .src {
    padding: 2rem;
    padding-top: 1rem;
    background: #ccc;
    word-wrap: break-word
}