@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-size: 16px;
  --main-color: rgb(63, 63, 63);
  --secondary-color: goldenrod;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  max-width: 100rem;
  margin: 0 auto;
  background: var(--main-color);
  transition: background-color 1s ease-out;
}

header {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0.5rem;
  position: relative;
  transition: all 1s ease-out;
  z-index: 98;
}

header > h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  margin-bottom: 10rem;
}

header > .links {
  position: absolute;
  height: 35px;
  bottom: 1rem;
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

header > .links a {
  width: 35px;
}

header .links img {
  width: 100%;
  transition: all 0.5s ease-out;
}

header .links img:hover {
  transform: scale(1.33333) rotate(370deg) translate(2px, -0.5rem);
}

.themeOptions {
  position: absolute;
  top: 0;
  right: 0.5rem;
  bottom: 0;
  z-index: 99;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.themeOptions > div {
  height: 25px;
  width: 25px;
  margin: 0.25rem;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
}

.themeOptions > div:first-of-type {
  border: 2px solid #fff;
}

nav {
  display: block;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  height: 100vh;
  width: 400px;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: -100vw;
  color: var(--secondary-color);
  padding: 0.75rem;
  padding-right: 1rem;
  transition: left 0.75s ease-in-out;
}

nav h3 {
  font-weight: 100;
  font-size: 1.75rem;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0 0.25rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  transition: color 1s ease-out;
}

nav a,
nav a:visited,
nav a:active,
nav a:link {
  display: block;
  font-size: 1.1rem;
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0.25rem 0 0.25rem 3rem;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.25rem;
  transition: color 1s ease-out;
}

nav #close {
  height: 2.5rem;
  width: 2.5rem;
  outline: none;
  border: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

nav #close span {
  display: inline-block;
  height: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  transition: background-color 1s ease-out;
}

nav #close span:first-of-type {
  transform: translate(0px, 4.5px) rotate(45deg);
}

nav #close span:last-of-type {
  transform: translate(0px, -10.5px) rotate(-45deg);
}

#hamburger_open {
  height: 3.5rem;
  width: 3.5rem;
  outline: none;
  border: none;
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 0;
  background: transparent;
  cursor: pointer;
  background: var(--main-color);
  border-radius: 50%;
  transition: all 1s ease-out;
  z-index: 99;
  opacity: 0.8;
}

#hamburger_open span {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.15rem;
  width: 1.75rem;
  margin: 0;
  padding: 0;
  background: #fff;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
}

#hamburger_open span:nth-of-type(1) {
  top: 30%;
}

#hamburger_open span:nth-of-type(2) {
  top: 48%;
}

#hamburger_open span:nth-of-type(3) {
  top: 66%;
}

main {
  background: rgba(200, 200, 200, 0.35);
  padding: 3rem 5rem;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

main section {
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  transition: all 1s ease-out;
  background: var(--secondary-color);
  color: #fff;
  margin-bottom: 2.5rem;
}

main section:last-of-type {
  margin-bottom: 0;
}

main .section1 {
  display: flex;
  justify-content: center;
}

main .section1 .content {
  flex: 2;
  padding: 2rem;
  color: #fff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .section1 .content h2 {
  font-size: 2.25em;
  font-weight: 100;
  padding: 0 1.5rem;
  border-bottom: 1px solid #fff;
  text-align: center;
}

main .section1 .img {
  flex: 1;
  max-width: 300px;
  background-image: url(./Assets/JasperLichte.jpg);
  background-size: 100%;
  background-position: 50% 20%;
  transition: all 0.5s ease-out;
}

main .section1 .img:hover {
  background-size: 110%;
}

main .section2 {
  padding: 1rem;
}

main .section2 .graphic {
  position: relative;
}

main .section2 .graphic .labels {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top : 1px solid var(--main-color);
  transition: all 1s ease-out;
}

main .section2 .graphic .labels span {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: calc(100% / 5);
  text-align: center;
  padding-top: 0.25rem;
  font-size: 1.2em;
}

main .section2 .graphic .data {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main .section2 .graphic .data > * {
  height: 60%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 1.85rem;
}

main .section2 .graphic .data > *::after {
  content: "";
  height: 100%;
  width: 10%;
  min-width: 5px;
  max-width: 20px;
  position: absolute;
  background: var(--main-color);
  transition: background-color 1s ease-out, transform 0.25s ease-in-out;
}

main .section2 .graphic .data > *:hover::after {
  transform: scaleX(2);
}

main .section2 .graphic .data #html5 {
  height: 80%;
}

main .section2 .graphic .data #css3 {
  height: 75%;
}

main .section2 .graphic .data #es6 {
  height: 72%;
}

main .section2 .graphic .data #php {
  height: 55%;
}

main .section2 .graphic .data #node {
  height: 65%;
}

@media screen and (max-width: 500px) {
  nav {
    width: 100%;
  }
  header > h1 {
    font-weight: 100;
  }

  #hamburger_open {
    left: 0.5rem;
    top: 0.5rem;
  }
}

@media screen and (max-width: 1040px) {
  main {
    padding: 1rem;
  }

  main .section1 .img {
    display: none;
  }

  nav {
    background: rgba(255, 255, 255, 1);
  }

  #hamburger_open span {
    height: 0.125rem;
  }
}

.particle {
  position: fixed;
  background: var(--secondary-color);
  border-radius: 50%;
  z-index: -99;
  transition: background-color 1s ease-out;
}
