.NewsPanel.active {
    padding: 0.001rem 1rem;
    max-width: 700px;
    margin: 0 auto;
}

.NewsPanel.active .article {
  margin: 1rem 0;
  box-shadow: var(--shadow-1);
  background-color: #446A7A;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: var(--tertiary-color);
  padding: 1rem;
}

.NewsPanel.active .article .shadow {
  background: rgba(63, 63, 63, 0.75);
  padding: 0.5em;
  padding-bottom: 0.75em;
  box-shadow: var(--shadow-1);
}

.NewsPanel.active .article h3 {
  font-weight: 100;
  border-bottom: 1px solid var(--tertiary-color);
}

.NewsPanel.active .article .author {
  font-size: 0.8em;
  text-align: right;
}

.NewsPanel.active .article a,
.NewsPanel.active .article a:active,
.NewsPanel.active .article a:visited,
.NewsPanel.active .article a::selection,
.NewsPanel.active .article a:focus {
    color: var(--tertiary-color);
    text-decoration: none;
    border: 1px solid var(--tertiary-color);
    padding: 0.25em 0.5em;
    font-size: 0.8em;
}


.NewsPanel.active .article a:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.NewsPanel.active .buttons {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 0.25rem);
    margin-bottom: -0.125rem;
    margin-top: 1rem;
    transform: translateX(-0.125rem);
}

.NewsPanel.active .buttons button {
    padding: 0.5rem;
    flex-grow: 1;
    border: none;
    outline: none;
    margin: 0.125rem;
    box-shadow: var(--shadow-1);
    background: var(--secondary-color);
    font-size: 1.05em;
    cursor: pointer;
}

@media screen and (max-width: 500px) {

    .NewsPanel.active .buttons button {
        width: 100%;
    }

}