main .gallery {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    box-shadow: none;
    justify-content: space-around;
    align-items: center;
    max-height: calc(300px + 0.55rem + 2 * (0.125rem));
}

main .gallery .img {
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    margin: 0rem;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
    opacity: 0.85;
    margin: 0.125rem;
    margin-bottom: 0.55rem;
    background-color: var(--secondary-color);
}

main .gallery .img:nth-of-type(1) {
    background-image: url(./../Assets/gallery/1.jpg);
}

main .gallery .img:nth-of-type(2) {
    background-image: url(./../Assets/gallery/2.jpg);
}

main .gallery .img:nth-of-type(3) {
    background-image: url(./../Assets/gallery/3.jpg);
}

main .gallery .img:nth-of-type(4) {
    background-image: url(./../Assets/gallery/4.jpg);
}

main .gallery .img:nth-of-type(5) {
    background-image: url(./../Assets/gallery/5.jpg);
}

main .gallery .img:nth-of-type(6) {
    background-image: url(./../Assets/gallery/6.jpg);
}

main .gallery .img:nth-of-type(7) {
    background-image: url(./../Assets/gallery/7.jpg);
}

main .gallery .img:nth-of-type(8) {
    background-image: url(./../Assets/gallery/8.jpg);
}

main .gallery .img:nth-of-type(9) {
    background-image: url(./../Assets/gallery/9.jpg);
}

main .gallery .img:nth-of-type(10) {
    background-image: url(./../Assets/gallery/10.jpg);
}

main .gallery .img:nth-of-type(11) {
    background-image: url(./../Assets/gallery/11.jpg);
}

main .gallery .img:nth-of-type(12) {
    background-image: url(./../Assets/gallery/12.jpg);
}

main .gallery .img:nth-of-type(13) {
    background-image: url(./../Assets/gallery/13.jpg);
}

main .gallery .img:nth-of-type(14) {
    background-image: url(./../Assets/gallery/14.jpg);
}

main .gallery .img:nth-of-type(15) {
    background-image: url(./../Assets/gallery/15.jpg);
}

main .gallery .img:nth-of-type(16) {
    background-image: url(./../Assets/gallery/16.jpg);
}
main .gallery .img:nth-of-type(17) {
    background-image: url(./../Assets/gallery/17.jpg);
}

main .gallery .img:nth-of-type(18) {
    background-image: url(./../Assets/gallery/18.jpg);
}